block content
  div#card(class='card' style='position:relative')
    img(src=`${imageUrl}` style='width:310px; height:200px; text-align:center;')
    b #{name}
    p
    b #{createTime}
    p
    b Owner:
    i #{userName}
    
     div(style='position:absolute; bottom:10px; right:70px')
      button.button(onclick=`downloadVideo('${id}')`)
        img(src='/icons/download-to-storage-drive.svg' style='padding-top:5px; padding-left:0px; width:12px; height:12px; text-align:center;') 
   
     div(style='position:absolute; bottom:10px; right:40px')
      button.button(onclick=`deleteVideo('${imageUrl}', '${name}')`)
        img(src='/icons/garbage-button.svg' style='padding-top:5px; padding-left:0px; width:12px; height:12px; text-align:center;') 
   
     div(style='position:absolute; bottom:10px; right:10px')
      button.button(onclick=`playVideo('${id}')`)
        img(src='/icons/play-button.svg' style='padding-top:5px; padding-left:1px; width:12px; height:12px; text-align:center;') 
 
      